html {
  font: 16px "Arial", serif;
}

@media (max-width: 550px) {
  html {
    font-size: 10px;
  }
}

body {
  max-width: 600px;
  padding: 0rem 2rem 2rem 2rem;
  margin: 0 auto;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.body-over {
  overflow-y: hidden;
}

.title {
  padding-top: 20px;
  font-size: 4rem;
  color: #033E6B;
}

@media (max-width: 400px) {
  .title {
    font-size: 3.5rem;
  }
}

.control-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2%;
  width: 100%;
  gap: 10px;
  padding-top: 1rem;
}

.control-container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  color: #ffbf00;
  font-size: 0.9rem;
  padding: 10px 20px;
  background-color: #033E6B;
  height: 50px;
}

@media (max-width: 610px) {
  .control-container button {
    margin-bottom: 10px;
    font-size: 1.5rem;
    height: 50px;
  }
}

@media (max-width: 550px) {
  .control-container button {
    font-size: 1.5rem;
    height: 30px;
  }
}

.frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  font-size: 1.7rem;
  color: #033E6B;
}

@media (max-width: 550px) {
  .frame {
    font-size: 2rem;
    padding: 0px;
  }
}

.size-value {
  padding: 10px 0px;
  font-size: 1rem;
  color: #033E6B;
  border-radius: 13px;
  padding-left: 7px;
  width: 70px;
  padding-top: 4px;
  padding-bottom: 4px;
}

@media (max-width: 550px) {
  .size-value {
    font-size: 1.2rem;
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20%;
  font-size: 2rem;
  color: #033E6B;
}

button {
  cursor: pointer;
}

.sound {
  height: 30px;
  width: 30px;
  background-image: url("./assets/sound-on.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.sound-off {
  background-image: url("./assets/sound-off.svg");
}

.game-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media (max-width: 550px) {
  .game-wrapper {
    gap: 10px;
  }
}

.game {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-color: #70570c;
  border: 0.1rem solid #033E6B;
  -webkit-box-shadow: 0 .1em .1em -.025em #1b1b1b;
          box-shadow: 0 .1em .1em -.025em #1b1b1b;
  font-size: 3.5rem;
}

.game .item {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24.5%;
  height: 24.5%;
  border: none;
  font-size: 1em;
  padding: 2.5%;
  border-radius: 15%;
  border: 0.1rem solid #033E6B;
  -webkit-box-shadow: 0 .05em .05em -.025em #313030;
          box-shadow: 0 .05em .05em -.025em #313030;
  background: -webkit-gradient(linear, left top, left bottom, from(#c29203), to(#70570c));
  background: linear-gradient(#c29203, #70570c);
  margin: 0.5%;
  color: #1b7ac2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.game .item .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#a57e07), to(#FFBF00));
  background: linear-gradient(#a57e07, #FFBF00);
  -webkit-box-shadow: 0 .05em .05em -.025em #947109;
          box-shadow: 0 .05em .05em -.025em #947109;
  border: 1px solid #947109;
  border-radius: 15%;
}

.visibility {
  visibility: hidden;
}

.winn-message-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -20;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.message-show {
  opacity: 1;
  z-index: 5;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.winn-message {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 10;
  max-width: 600px;
  font-size: 0.8rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#1569a8), to(#1985d8));
  background: linear-gradient(#1569a8, #1985d8);
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 4rem 1rem 3rem 1rem;
  color: #FFBF00;
}

.winn-message .close {
  position: absolute;
  width: 5%;
  height: 5%;
  top: 15%;
  right: 5%;
  cursor: pointer;
}

.winn-message .close::before, .winn-message .close::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #FFBF00;
}

.winn-message .close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.winn-message .close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.winn-text {
  width: 100%;
}

.add-in-table {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.player-name {
  height: 30px;
  width: 60%;
  font-size: 1rem;
  padding: 3px 0px 3px 5px;
  border-radius: 10px;
}

.sande-name {
  width: 20%;
  border-radius: 10px;
  font-size: 1rem;
  color: #ffbf00;
  padding: 7px 7px;
  background-color: #033E6B;
}

.show-add-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.results-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -15;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.results-table {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 20;
  max-width: 600px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1569a8), to(#1985d8));
  background: linear-gradient(#1569a8, #1985d8);
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 1rem 1rem 1rem 1rem;
  color: #FFBF00;
}

.results-table table {
  width: 100%;
  padding: 20px 0px;
}

.results-table td {
  width: 75px;
}

.results-table .close-table {
  position: absolute;
  width: 5%;
  height: 5%;
  top: 10%;
  right: 5%;
  cursor: pointer;
}

.results-table .close-table::before, .results-table .close-table::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #FFBF00;
}

.results-table .close-table::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.results-table .close-table::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.table-show {
  opacity: 1;
  z-index: 10;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
/*# sourceMappingURL=style.css.map */